<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <xacro:arg name="config_file_path" default="$(find ur_description)/urdf/config/ex_make_arm.yaml"/>
   <xacro:property name="config_file_path" value="$(arg config_file_path)"/>
   <xacro:property name="cfg" value="${xacro.load_yaml(config_file_path)}"/>

   <link name="world"/>

   <joint name="world_to_base" type="fixed">
       <origin xyz="${cfg['world_xyz']}" rpy="${cfg['world_rpy']}"/>
       <parent link="world"/>
       <child link="base_link"/>
   </joint>

  <link name="base_link"/>

   <joint name="base_link_joint" type="fixed">
       <origin xyz="${cfg['base_xyz']}" rpy="${cfg['base_rpy']}"/>
       <parent link="base_link"/>
       <child link="${cfg['prefix']}base_link_ur"/>
   </joint>
    
   <xacro:make_arm config_file_path="${config_file_path}"/>

</robot>
