<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <xacro:arg name="config_file" default="$(find ur_description)/urdf/config/ex_make_arm.yaml"/>
   <xacro:property name="config_file" value="$(arg config_file)"/>
   <xacro:property name="cfg" value="${xacro.load_yaml(config_file)}"/>

   <link name="world"/>

   <joint name="world_to_base_link" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

   <link name="base_link"/>

   <joint name="base_link_to_base_link_ur" type="fixed">
      <parent link="base_link"/>
      <child link="base_link_ur"/>
    </joint>
    
   <xacro:make_arm config_file="${config_file}"/>

</robot>
