<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

   <xacro:arg name="ur_description" default="$(env UR_DESCRIPTION_PATH)"/>

   <xacro:include filename="$(arg ur_description)/urdf/ur_macro.xacro"/>

   <xacro:arg name="config_file" default="$(arg ur_description)/urdf/config/ex_make_arm.yaml"/>
   <xacro:property name="config_file" value="$(arg config_file)"/>
   <xacro:property name="cfg" value="${xacro.load_yaml(config_file)}"/>

   <link name="world"/>

   <joint name="world_to_base" type="fixed">
       <origin xyz="${cfg['args']['world_xyz']}" rpy="${cfg['args']['world_rpy']}"/>
       <parent link="world"/>
       <child link="base_link"/>
   </joint>

  <link name="base_link"/>

   <joint name="base_link_joint" type="fixed">
       <origin xyz="${cfg['args']['base_xyz']}" rpy="${cfg['args']['base_rpy']}"/>
       <parent link="base_link"/>
       <child link="${cfg['info']['prefix']}base_link_ur"/>
   </joint>
    
   <xacro:make_arm config_file="${config_file}"/>

</robot>
